@import 'variables';
@import 'components';

.heading-challengesPage {
  font-size: 1.3rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .heading-challengesPage {
    font-size: 1rem;
  }
}

.btn-challengesFilter {
  display: inline-block;
  width: 180px;
  height: 44px;
  font-size: 16px;
  color: $color-secondary;
  background-color: white;
  border-color: $color-secondary;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .btn-challengesFilter {
    width: 180px;
    height: 45px;
    font-size: 16px;
  }
}

.wrap-filterArea {
    width: 100%;
    text-align: center;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    .img-hacker {
        width: 100%;
        height: auto;
        max-height: 274px;
        object-fit: cover;
        margin-bottom: 20px;

        @media (min-width: $bp-desktop) {
            max-height: 700px;
        }
    }
}

.bio-quote {
    display: block;
    max-width: 100vw;
    margin: 15px 20px 100px;

    .bio-img {
        width: 73px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px;
    }

    .bio-p {
        font-size: 24px;
        margin-bottom: 5px;
        font-style: italic;
    }

    .bio-name-tag {
        display: block;
        margin: 0;
        font-size: 0.8rem;
    }

    .quote-bio--1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .quote-bio--2 {
        display: none;
    }


    @media (min-width: $bp-desktop) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;

        .quote-bio--1,
        .quote-bio--2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 600px;
        }

        .bio-img {
            width: 120px;
            margin-right: 20px;
        }

        .bio-p {
            font-size: 24px;
            margin: 0 0 10px 0;
        }

        .bio-name-tag {
            font-size: 18px;
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
        }

        .quote-bio--2 {
            display: flex;
        }
    }

    @media (min-width: $bp-medium) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;

        .quote-bio--1,
        .quote-bio--2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 600px;
        }

        .bio-img {
            width: 70px;
            margin-right: 20px;
        }

        .bio-p {
            font-size: 0.5rem;
            margin: 0 0 10px 0;
        }

        .bio-name-tag {
            font-size: 0.4rem;
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
        }

        .quote-bio--2 {
            display: flex;
        }
    }
}


.challenges-headline {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $bp-desktop) {
        font-size: 1rem;
        margin-bottom: 0;
    }
}

.card-rooms {
    list-style: none;
    padding: 0;
    margin: 0;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        overflow-x: auto;
        padding: 0 30px;
        margin: 0 20px;
        scrollbar-width: none
    }

    li {
        display: flex;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    .room-card {
        height: auto;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 50px;

        @media (min-width: $bp-desktop) {
            margin-bottom: 0;
        }
    }

    .card-bio {
        padding: 10px;
        width: 343px;
    }

    .room-title {
        font-size: 28px;
        margin: 0;
        font-weight: bold;
    }

    .img-room {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .rating-container {
        display: flex;
        align-items: baseline;
        gap: 15px;
    }

    .rating-stars {
        display: flex;
        gap: 0.2rem;
    }

    .rating-star img {
        margin: 0;
        width: 14px;
        height: 14px;
    }

    .rating-star-unchecked img {
        margin: 0;
        width: 14px;
        height: 14px;
    }

    .room-info {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
    }

    .participants {
        font-size: 14px;
    }


    @media (min-width: $bp-medium) {
        ul {
            justify-content: center;
            overflow-x: visible;
            gap: 3%;
            flex-wrap: nowrap;
            margin: 0;
        }

        .room-card {
            height: auto;
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
            flex-shrink: 0;
        }

        .img-room {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-bio {
            width: auto;
            padding: 15px 20px;
            box-sizing: border-box;
        }

        .room-title {
            font-size: 0.6rem;
            margin: 0 0 8px 0;
        }

        .rating-container {
            justify-content: space-between;
            font-size: 15px;
            margin: 8px 0;
        }

        .rating-stars {
            display: flex;
            gap: 0.1rem;
        }

        .room-info {
            font-size: 0.5rem;
            margin: 10px 0 15px;
        }

        .participants {
            font-size: 0.4rem;
        }
    }

    @media (min-width: $bp-desktop) {
        ul {
            justify-content: center;
            overflow-x: visible;
            gap: 60px;
            flex-wrap: nowrap;
            margin: 0 20px;
        }

        .room-card {
            width: 363px;
            height: 446px;
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
            flex-shrink: 0;
        }

        .img-room {
            width: 363px;
            height: 219px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-bio {
            width: 363px;
            padding: 15px 20px;
            box-sizing: border-box;
        }

        .room-title {
            font-size: 28px;
            margin: 0 0 8px 0;
        }

        .rating-container {
            font-size: 15px;
            margin: 8px 0;
        }

        .room-info {
            font-size: 18px;
            margin: 10px 0 15px;
        }

        .participants {
            font-size: 14px;
        }
    }
}


.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    color: white;
    width: 100%;
    height: 500px;

    .story-bio {
        text-align: center;
        font-size: 28px;
        margin-bottom: 50px;

        @media (min-width: $bp-medium) {
            font-size: 0.8rem;
            width: 630px;
        }

        @media (min-width: $bp-desktop) {
            width: 630px;
        }
    }
}

.teambuilding {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 70px;

    img {
        width: 100%;
        height: auto;
    }

    .section1-p-header,
    .section2-p-header {
        font-size: 32px;
        font-weight: bold;
        margin: 30px 10px;
    }

    .section1-p-body,
    .section2-p-body {
        font-size: 24px;
        margin: 50px 10px;
    }




    @media (min-width: $bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 0;
        align-items: center;
        justify-items: center;
        margin-bottom: 10%;


        .section-teambuilding,
        .section-play-online {
            display: contents;
        }

        .img-teambuilding {
            grid-area: 1 / 1 / 2 / 2;
        }

        .section1-bio {
            grid-area: 1 / 2 / 2 / 3;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .section2-bio {
            grid-area: 2 / 1 / 3 / 2;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .img-play-online {
            grid-area: 2 / 2 / 3 / 3;

        }

        .section1-p-header,
        .section2-p-header {
            margin: 60px 10px 0;
            font-size: 0.8rem;
        }

        .section1-p-body,
        .section2-p-body {
            font-size: 0.5rem;
            margin: 15px 10px;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (min-width: $bp-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 0;
        align-items: center;
        justify-items: center;
        margin-bottom: 180px;


        .section-teambuilding,
        .section-play-online {
            display: contents;
        }

        .img-teambuilding {
            grid-area: 1 / 1 / 2 / 2;
        }

        .section1-bio {
            grid-area: 1 / 2 / 2 / 3;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .section2-bio {
            grid-area: 2 / 1 / 3 / 2;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .img-play-online {
            grid-area: 2 / 2 / 3 / 3;

        }

        .section1-p-header,
        .section2-p-header {
            margin: 60px 10px 0;
        }

        .section1-p-body,
        .section2-p-body {
            font-size: 24px;
            margin: 25px 10px;
        }

        img {
            width: 100%;
            height: auto;

        }
    }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.modal-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal  {
  background-color: white;
  border-radius: 0;
  padding: 2rem;
  max-width: 100%;
  width: 85%;
  min-height: 75%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;  
}

/*  */

.modal-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: bold;
}

.modal-text {
  font-size: 0.5rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.modal-label {
  display: block;
  font-weight: bold;
font-size: xx-large;
  margin-bottom: 0.1rem;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.btn--next-step {
  background-color: rgb(73, 43, 226);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#step-1, #step-2, #step-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.modal-input {
    width: 60%;
    height: 40px;
    border: 2px solid #c2cbd3;
    border-radius: 4px;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    max-width: 350px;
}


select.modal-input {
    height: 45px;
}


#step-3 .modal-title {
    margin-top: 3rem;
}

#step-3 a {
    font-size: 0.6rem;
}

#step-2,
#step-3 {
    display: none;
}

#step-3 {
    text-align: center;
}

.container-about {
    width: 70%;
    text-align: left;
    margin: 0 auto;
    font-size: .8rem;
    margin-top: 60px;
    margin-bottom: 60px;
}

.aboutus-image {
  width: 100%;
  padding-top: 40px;
}

.heading-about {
    font-size: 1rem;
}