@import 'variables';


.challenges {
  padding: 40px 20px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  
  &__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #000000;
    font-weight: normal;
  }
  
  &__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px)); 
  gap: 30px;
  align-items: start;
  width: 100%;
  justify-content: center; 
  }
  
  &__card {
   position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
    
    &-title {
      font-size: 18px;
      font-weight: normal;
      margin: 15px 20px 4px;
      color: #000000;
    }
  }
  
  &__participants {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    margin: 0 20px 10px;
  }
  
  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  
  &__rating {
    position: absolute;
    bottom: 15px;
    left: 20px;
    display: flex;
    gap: 4px;
  }
  
  &__stars {
    display: flex;
    gap: 4px;
    align-items: center;
    transform: translateY(-183px);
  }
  
  &__star {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    &--filled {
      background-image: url("src/checkedRatingStar.png");
    }
    
    &--empty {
      background-image: url("src/uncheckedRatingStar.png");
    }
    
    &--half {
      background-image: url("src/star-half.png");
    }
  }
  
  &__description {
    font-size: 13px;
    line-height: 1.5;
    color: #000000;
    margin: 0 20px 15px;
  }
  
  &__button {
    margin: 0 20px 20px auto;
    margin-top: auto; 
  }
  
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;
    background-color: #E3170A;
    color: #ffffff;
    width: auto;
    
    &:hover {
      opacity: 0.9;
    }
  }
  
  &__icon {
    &__online {
      width: clamp(30px, 5vw, 60px);
      height: clamp(30px, 5vw, 60px);
      position: absolute;
      top: 15px;
      right: 15px;
    }
    
    &__onsite {
      width: clamp(30px, 5vw, 60px);
      height: clamp(30px, 5vw, 60px);
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

