fieldset {
            border: none;
        }

        .filterForm {
            padding: 1rem;
            font-size: 0.5rem;
        }

        @media screen and (min-width: 767px) {
            .filterForm {
                display: grid;
                grid-template-columns: 3;
                grid-template-rows: 4;
                margin: 1rem;
            }

            .filterForm__heading {
                grid-row: 1;
                grid-column: 1/3;
            }

        }

        /*CHECKBOX online vs on-site*/
        .checkboxFilter {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0.5rem 0.5rem;
            padding: 0.5rem;
            margin: 0;
        }

        .checkboxFilter__heading {
            font-weight: 700;
            padding: 1rem 0 0 0;
            margin: 0;

        }

        .checkbox-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            width: 0.3rem;
            height: 0.3rem;
        }

        @media screen and (min-width: 767px) {
            .checkboxFilter {
                grid-row: 2;
                grid-column: 1;
                gap: 0.1em;
                justify-content: center;

            }

            .checkboxFilter__heading {
                grid-column: 1/3;
                grid-row: 1;
                font-weight: 700;
            }

            .checkbox-item {
                grid-column: 1;
                cursor: pointer;
                justify-self: left;
                align-self: top;
                margin: 0;
                padding: 0;
            }

            .checkbox-label {
                grid-column: 2;
                justify-self: left;
                align-self: top;
                margin-left: 0.2rem;
                padding: 0;

            }
        }


        /*RATING VIDGET*/
        .ratingFilter {
            display: flex;
            padding: 0.5rem;
            margin: 0;
            align-items: baseline;
        }

        /* stars div */
        .ratingFilter__vidget {
            padding: 0.5rem;
            display: inline-flex;
            gap: 0.1em;
            /* for showing correct rating value */
            flex-direction: row-reverse;
        }

        .ratingFilter__heading {
            justify-content: left;
            font-weight: 700;
            padding: 1rem 0 0 0;
            margin: 0;
        }

        /* hide input */
        .minRating-input,
        .maxRating-input {
            display: none;
        }

        /* empty star */
        .minRating-label,
        .maxRating-label {
            width: 0.5rem;
            height: 0.5rem;
            cursor: pointer;
            background: url('./src/unceckedRatingStar.png') no-repeat center / contain;
        }

        /* red star */
        .minRating-input:checked~.minRating-label,
        .maxRating-input:checked~.maxRating-label,
        .minRating-label:hover,
        .minRating-label:hover~.minRating-label,
        .maxRating-label:hover,
        .maxRating-label:hover~.maxRating-label {
            background: url('./src/checkedRatingStar.png') no-repeat center / contain;
        }

        @media screen and (min-width: 767px) {
            .ratingFilter {
                flex-wrap: nowrap;
                grid-row: 2;
                grid-column: 2;
            }

        }

        /*TAG filter*/
        .tagFilter {
            /* display: flex; */
            padding: 0.5rem;
            margin: 0;
        }

        .tagFilter__heading {
            left: 0.5rem;
            font-weight: 700;
            padding: 1rem 0 0 0;
            margin: 0;
        }

        .tag__list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .tag-item {
            display: inline-block;
            gap: 0.5rem;

        }

        @media screen and (min-width: 767px) {
            .tagFilter {
                grid-row: 2;
                grid-column: 3;
            }
        }

        /*KEYWORD filter*/

        .keywordFilter {
            padding: 0.5rem;
            margin: 0;
        }

        .keywordFilter__heading {
            justify-content: left;
            font-weight: 700;
            padding: 1rem 0 0 0;
            margin: 0;
        }

        .keyword-input {
            font-weight: 700;
            padding: 0.1rem;
            margin: 0;
        }

        @media screen and (min-width: 767px) {
            .keywordFilter {
                grid-row: 3;
                grid-column: 1/3;
                justify-self: center;
            }
        }

        /*Filter info*/

        .filterForm__info {
            justify-self: center;
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0;

        }

        @media screen and (min-width: 767px) {
            .filterForm__info {
                grid-row: 4;
                grid-column: 1/3;
            }
        }