@mixin by-heading {
    font-weight: 700;
    padding: 1rem 0 0.5em 0;
    margin: 0;
}

fieldset {
    border: none;
}

.filterForm {
    display: none;
    text-align: left;

    &--active {
        display: block;
        position: relative;
        padding: 0.5rem;
        margin: 1rem;
        font-size: 0.5rem;
        border: solid 1px silver;


        @media screen and (min-width: $bp-medium) {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            // grid-template-rows: 3;
        }
    }

    &__heading {
        grid-row: 1;
        grid-column: 1/3;
    }

    &__closeBtn {
        font-weight: 700;
        position: absolute;
        font-size: 1rem;
        z-index: 5;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        background: none;
    }
}


/*CHECKBOX online vs on-site*/
.checkboxFilter {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem 0.5rem;
    padding: 0.5rem;
    margin: 0;

    @media screen and (min-width: $bp-medium) {
        grid-row: 2;
        grid-column: 1;
        gap: 0.1em;
        justify-content: center;
    }

    &__heading {
        @include by-heading;

        @media screen and (min-width: $bp-medium) {
            grid-column: 1/3;
            grid-row: 1;
            font-weight: 700;
        }
    }
}

.checkbox__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 0.3rem;
    height: 0.3rem;

    @media screen and (min-width: $bp-medium) {
        grid-column: 1;
        cursor: pointer;
        justify-self: left;
        align-self: top;
        margin: 0;
        padding: 0;
    }
}

.checkbox__label {
    @media screen and (min-width: $bp-medium) {
        grid-column: 2;
        justify-self: left;
        align-self: top;
        margin-left: 0.2rem;
        padding: 0;
    }
}


/*RATING WIDGET*/
.ratingFilter {
    display: flex;
    padding: 0.5rem;
    margin: 0;
    align-items: baseline;

    @media screen and (min-width: $bp-medium) {
        flex-wrap: nowrap;
        grid-row: 2;
        grid-column: 2;
    }

    &__heading {
        @include by-heading;
    }

    /* stars div */
    &__widget {
        padding: 0.5rem;
        display: inline-flex;
        gap: 0.1em;
        /* for showing correct rating value */
        flex-direction: row-reverse;
    }

}

/* hide input */
.minRating__input,
.maxRating__input {
    display: none;
}

/* empty star */
.minRating__label,
.maxRating__label {
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
    background: url('./src/unceckedRatingStar.png') no-repeat center / contain;
}

/* red star */
.minRating__input:checked~.minRating__label,
.maxRating__input:checked~.maxRating__label,
.minRating__label:hover,
.minRating__label:hover~.minRating__label,
.maxRating__label:hover,
.maxRating__label:hover~.maxRating__label {
    background: url('./src/checkedRatingStar.png') no-repeat center / contain;
}


/*TAG filter*/
.tagFilter {
    padding: 0.5rem;
    margin: 0;

    @media screen and (min-width: $bp-medium) {
        grid-row: 2;
        grid-column: 3;
        padding-left: 2rem;

    }

    &__heading {
        @include by-heading;
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: inline-block;
        gap: 0.5rem;
    }
}


/*KEYWORD filter*/
.keywordFilter {
    padding: 0.5rem;
    margin: 0;

    @media screen and (min-width: 767px) {
        grid-row: 3;
        grid-column: 2;
        justify-self: center;
    }


    &__heading {
        @include by-heading;
    }

    &__input {
        font-weight: 700;
        padding: 0.1rem;
        margin: 0;
        border: silver 1px solid;
        height: 1.7em;
        width: 100%;
        font-size: large;
        color: silver;
    }
}


/*Filter info*/
.filterForm__info--active {
    justify-self: center;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
}