@import 'variables';

footer {
    background-color: $color-dark;
    color: white;


    .footer {
        padding: 60px 10px;
        font-size: 18px;

        .footer-sitename {
            font-weight: bold;
        }

        .footer-links {
            .footer-links-heading {
                font-weight: bold;
                margin: 40px 0 7px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 0;
                display: flex;
                flex-direction: column;
            }

            li a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .footer-socials {

        .footer-socials-heading {
            font-weight: bold;
            margin: 45px 0 7px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 0;
            display: flex;
            flex-direction: column;
        }

        li a {
            color: white;
            text-decoration: none;
        }
    }

    @media (min-width: $bp-medium) {
        .footer {
            display: grid;
            grid-template-columns: 60% 10% 10%;
            gap: 50px;
            align-items: first baseline;
            font-size: 0.5rem;
        }

        .footer-about {
            max-width: 450px;
            margin: 0 100px 70px;
        }
    }

    @media (min-width: $bp-desktop) {
        .footer {
            display: grid;
            grid-template-columns: 60% 10% 10%;
            gap: 50px;
            align-items: baseline;
        }

        .footer-about {
            max-width: 450px;
            margin: 0 100px 70px;
        }
    }
}